@mixin fog($color:#fff, $height:10px) {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: $height;
    background: linear-gradient(to top, $color, transparent)
  }
}
